/* começo Home*/

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

#navbar {
    background-color: #BBBBBB;
    padding: 0 90px;
    height: 222px;
}

#navbar ul, #navegação li {
    display: inline-block;
    margin-right: -200px;
    margin-left: 210px;
    line-height: 170px;
    color: black;
}

#navbar img {
    height: auto;
    position: absolute;
    top: 15px;
    width: 127px;
}

#navbar nav{
    float: right;
}

a{
    color: black;
}
/*home fim*/